/* ========== Mobil Nav ========== */

@media (max-width: 1200px) {
  .container {
    padding: 60px 60px;
  }

  section h2 {
    font-size: 38px;
  }

  section h2 span {
    font-size: 42px;
  }

  .lead-text {
    font-size: 1.4rem;
  }
}

/* ========== 960px ve altı (Büyük Telefon) ========== */

@media (max-width: 960px) {
  header {
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  nav {
    position: absolute;
    top: 95px;
    right: 0;
    width: 100%;
    background: var(--primary-bg);
    flex-direction: column;
    text-align: center;
    display: none;
    border-bottom: 1px solid var(--third-bg);

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.4s ease;
  }

  /* Açılış Animasyonu */
  nav.show {
    display: flex;
    max-height: 500px;
    opacity: 1;
    animation: slideDown 0.45s ease forwards;
  }

  /* Kapanış Animasyonu */
  nav.closing {
    animation: slideUp 0.45s ease forwards;
  }

  /* Hover çizgisini kaldırma (mobil görünüm) */
  nav a::after {
    background: none;
  }

  /* Açılış animasyonu (yukarıdan aşağı) */
  @keyframes slideDown {
    0% {
      transform: translateY(-15px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  /* Kapanış animasyonu (aşağıdan yukarı kaybolma) */
  @keyframes slideUp {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    100% {
      transform: translateY(-15px);
      opacity: 0;
    }
  }

  nav a {
    margin: 15px 0;
    font-size: 1.1rem;
    text-align: left;
    padding: 0 50px;
    max-width: 50%;
  }

  .hamburger {
    display: flex;
  }
  .container {
    padding: 50px 40px;
  }

  section h2 {
    font-size: 34px;
  }

  section h2 span {
    font-size: 38px;
  }

  section h3 {
    font-size: 20px;
  }

  section p {
    font-size: 1.05rem;
  }

  .lead-text {
    font-size: 1.3rem;
  }
}

/* ========== 768px ve altı (Büyük Telefon) ========== */
@media (max-width: 768px) {
  .container {
    padding: 40px 25px;
  }

  section h2 {
    font-size: 30px;
  }

  section h2 span {
    font-size: 32px;
  }

  .lead-text {
    font-size: 1.2rem;
  }

  section p {
    font-size: 1rem;
  }
}

/* ========== 480px ve altı (Telefon) ========== */
@media (max-width: 480px) {
  .container {
    padding: 30px 20px;
  }

  section {
    padding: 35px 0;
  }

  section h2 {
    font-size: 26px;
  }

  section h2 span {
    font-size: 28px;
  }

  section h3 {
    font-size: 18px;
  }

  section p {
    font-size: 0.95rem;
  }

  .lead-text {
    font-size: 1.1rem;
    padding-left: 15px;
  }
}
